/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 13, 2015, 4:42:11 PM
    Author     : Piotr Maselkowski <pmaselkowski at gmail.com>
*/

@import 'ps/main.scss';

// Allow initialization via custom element
maslosoft-playlist, .maslosoft-playlist{
	margin: 10px 0px;
	width:100%;
	display:table;
	overflow: hidden;
	// Scrollbar disable transitions
	// or will pop out when rounded
	.ps-container > .ps-scrollbar-y-rail{
		transition: none;
	}
	.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail{
		transition: none;
		.ps-scrollbar-y{
		transition: none;
		}
	}

	.maslosoft-video-embed-wrapper{
		display:table-cell;
		width:75%;
		vertical-align:top;
		.maslosoft-video-embed-container {
			background:black;
			position: relative;
			max-width:100%;
			padding-bottom: 56.25%;
			height: 0;
			margin:0;
			z-index: 10;
			iframe, object, embed{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border:none;
				overflow:hidden;
				z-index: 9;
			}
		}
	}
	.maslosoft-video-play{
		background-image: data_url('css/play.png');
	}
	.maslosoft-video-pause{
		background-image: data_url('css/pause.png');
	}
	.maslosoft-video-playlist-wrapper{
		display: table-cell;
		min-width: 60px;
		width: 15%;
		background: black;
		z-index: 11;
		.tooltip{
			position: absolute;
			z-index: 12;
		}
	}
	.maslosoft-video-playlist-holder{
		// Need to add this via JS
		overflow-y: hidden;
		position: relative;
	}
	.maslosoft-video-playlist{
		background:black;
		vertical-align: top;
		a{

			//background: url(http://i.vimeocdn.com/video/533074067_640.jpg);
			width: 100%;
			background-size: 150%;
			background-position: 50% 50%;
			display:block;
			opacity:.5;
			i{
				display: block;
				width: 100%;
				padding-bottom: 56.25%;
				background-size: contain;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				opacity: .7;
			}
			&.active, &:hover{
				opacity:1;
				i{
					background-image: data_url('css/play.png');
				}
			}
			&:hover{
				opacity:.9;
				i{
					opacity: 1;
				}
			}
			&.playing{
				i{
					background-image: data_url('css/pause.png');
				}
			}
		}
		.caption{
			position:absolute;
		}
		img{
			width:100%;
			display:block;
		}
	}
}
